.product-carousel .carousel-item img.carousel-image {
  height: 400px;
  /* object-fit: cover; */
}
.carousel-image{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
/* .product-carousel{
  border-radius:2rem ;
} */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M4.854 1.146a.5.5 0 0 0-.708.708L6.293 4 4.146 6.146a.5.5 0 1 0 .708.708l2.5-2.5a.5.5 0 0 0 0-.708l-2.5-2.5z'/%3E%3C/svg%3E");
  background-size: 100% 100%;
}

.carousel-control-prev-icon {
  transform: rotate(180deg);
}
button{
  background-color: #ff3a75;
}
.btn-outline-danger{
  font-size: 0.9rem;
  width:0.5rem;
  height: 0.5rem;
}
.link{
color: #ff3a75;
font-weight: 700;
font-size: 1rem;
}

/* Quantity button */
/* LTR layout (default) */
:dir(ltr) .quantity-button {
  background-color: #E50046;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: 0;
  color: white;
  padding: 0.1rem 1rem;
  height: 3.7rem;
  margin-right: 0.2rem;
   /* margin-bottom: 3rem; */
  font-size: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:dir(ltr) .add-to-basket-button {
  background-color: #E50046;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: 0;
  color: white;
  height: 3.7rem;
  padding: 0.3rem 2rem;
  min-width: 220px;
  margin-right: 0.2rem;
}

/* RTL layout */
:dir(rtl) .quantity-button {
  background-color: #E50046;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: 0;
  color: white;
  padding: 0.1rem 1rem;
  height: 3.7rem;
  margin-right: 0.2rem;
  font-size: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

:dir(rtl) .add-to-basket-button {
  background-color: #E50046;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
    border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 0;
  color: white;
  height: 3.7rem;
  padding: 0.3rem 2rem;
  min-width: 220px;
  margin-right: 0.2rem;
}
.add-to-basket-button,.quantity-button{
  cursor: pointer !important;
}

.quantity-select {
  background-color: #E50046;
  border: none;
  color: white;
  font-weight: bold;
 
}
.quantity-option{
   background-color: white;
  color: #E50046;

}
/* Add to basket button */
/* .add-to-basket-button {
  background-color: #E50046;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border: 0;
  color: white;
  height: 3.7rem;
  padding: 0.3rem 2rem;
  min-width: 220px;
  margin-right: 0.2rem;
} */

/* Heart icon */
.wishlist-icon {
  cursor: pointer;
  font-size: 1.8rem;
  margin-left: 1rem;
}

/* Color selector */
.color-options {

  /* overflow-x:auto; */
  /* overflow-y: hidden; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}



.color-option {
  border: 4px solid rgba(227, 222, 222,0.5);
  border-radius: 5.5rem;
  width: 5.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
  height: 5.5rem;
}


.color-option img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-image-text {
  font-size: 12px;
  color: #999;
  text-align: center;
  padding: 4px;
}

.color-option.selected {
  border: 2px solid #a40132; /* highlight selected */
  box-shadow: 0 0 6px rgba(229, 0, 70, 0.4);
}






