 .hover-link:hover {
          background-color: rgba(255, 255, 255, 0.1);
          transition: background 0.3s ease;
          padding: 1rem;
        }
.active-link {
  /* background-color: #912929;  */
  color: white !important;
  font-weight: bold;
}
