.category-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 100%;
  /* border-radius: 30px; */
  border: none;
}

.category-item {
 padding: 0.5rem 0.1rem;
  font-family: 'Henny Penny';
  font-weight: 800;
  font-size: 1rem;
  color: #444;
  text-align: start;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.category-item:hover {
  background-color: #fceff9;
  color: #b0235b;
  transform: translateY(-3px);
  border-color: #f3b4d2;
  border-radius: 0.2rem;
  cursor: pointer;
   padding-left:1rem ;
}
