.second-header-wrapper {
  z-index: 8888 !important;
  position: relative;
  overflow: visible;
}

.second-header-bar {
      display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  flex-wrap: wrap;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  background-color: #111;
  color: white;
  z-index: 10;
  /* overflow-x: auto; */
  padding: 1rem 2rem;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.mainContainer {
  position: relative;
  text-align: center;
  padding: 0 1rem;
}

.category-title {
  cursor: pointer;
  color: white;
  font-family: 'Henny Penny';
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.category-title:hover {
  color: #ed769a;
}

.dropdown-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  gap: 1rem;
  background-color: white;
  border-radius: 8px;
  margin-top: 0.5rem;
  padding: 1rem;
  z-index: 9500 !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.categoryDropdown,
.subCategoryDropdown {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
  background: white;
  border-radius: 1rem;
  min-width: 180px;
  padding: 0.5rem 0;
}

.brand-item {
  padding: 0.5rem 0.1rem;
  font-family: 'Henny Penny';
  font-weight: bold;
  font-size: 1rem;
  color: #444;
  text-align: start;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.brand-item:hover,
.brand-item.active {
   background-color: #fceff9;
  color: #b0235b;
  transform: translateY(-3px);
  border-color: #f3b4d2;
  border-radius: 0.2rem;
  cursor: pointer;
  padding-left:1rem ;
}

.subCategoryDropdown {
  min-width: 160px;
  padding-left: 0.5rem;
  border-left: 1px solid #eee;
}
