.signinDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:9999;
  width: 90%;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.buttonrounded {
  border-radius: 20rem;
  padding: 0.4rem 1rem;
  font-size: 0.95rem;
  width: 100%;
}

@media (min-width: 576px) {
  .buttonrounded {
    width: auto;
  }
 .signin-dropdown {
    left: auto;
    right: 0;
    transform: none;
    width: auto;
    max-width: 350px;
  }
  .signin-dropdown .d-flex {
    flex-wrap: nowrap;
  }
}
.signin-dropdown {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  z-index: 9999 !important;
  width: 100%;
  min-width: 350px;     
  max-width: 100vw;
  padding: 1rem;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: auto;         
  max-height: 65vh;  
}
[dir="ltr"] .signin-dropdown{
  transform: translateX(50%);
}
[dir="rtl"] .signin-dropdown {
  right: auto;       
  left: 0; 
    transform: translateX(-50%);
         
}
.signin-dropdown .btn {
  width: 100%;
  margin-bottom: 0.5rem;
}

